@import '../../../config-scss/rem-calc.scss';
@import '../../../config-scss/btn_voltar.scss';

:host{
  main{
    // display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin-top: rem-calc(40);
    height: 100%;

    @media (max-width: 400px) {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      margin: 0 0.5rem;
    }

    .pokemon__names{
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      height: 75px;

      padding: 0 rem-calc(30);

      h1{
        color: var(--branco);
        font-size: rem-calc(25);
        text-transform: capitalize;
        font-family: 'Press Start 2P', cursive;;
      }
      h2{
        position: absolute;
        font-weight: 100;
        top: 0;
        font-size: rem-calc(60);
        color: rgba(255,255,255, 0.3);
        font-family: 'Press Start 2P', cursive;;
      }
    }

    .pokemon__status{
      position: relative;

      img{
        position: absolute;
        top: rem-calc(-90);
        left: rem-calc(30);
        width: rem-calc(180);
        z-index: 5;
      }

      &__statistics{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Press Start 2P', cursive;;

        background: var(--branco);

        min-height: 45vh;
        margin-top: ram-calc(10);

        padding: rem-calc(110) rem-calc(35) rem-calc(30) ;
        border-radius: rem-calc(8);

        h3{
          margin-bottom: rem-calc(20);

          @media (max-width: 400px) {
            font-size: rem-calc(25);
          }

          //font-style: italic;
          font-size: rem-calc(32);
          //text-decoration: underline;
          color: var(--secondary-color);
          font-weight: 700;
        }

        ol{
          li{
            display: flex;
            justify-content: space-between;

            font-size: rem-calc(17);
            line-height: 170%;
            //font-weight: 10;
          }
        }
      }
    }

    @media (max-width: 400px){

      .pokemon__names{
        h1{
          font-size: rem-calc(20);
        }

        h2{
          top: rem-calc(15);
          font-size: rem-calc(40);
        }
      }

      .pokemon__status{
        position: relative;

        img{
          position:absolute;
          top: rem-calc(-80);
          left: rem-calc(0);
          max-width: rem-calc(150);
        }
      }

      &__statistics{
        min-height: 54.7vh;
        padding-top: rem-calc(50);

        h3 {
          font-size: rem-calc(10);
        }
      }
    }
  }
}
