
<ng-template [ngIf]="isLoading">

<!-- Barra de pesquisa -->
<poke-search (emmitSearch)="getsearch($event)"></poke-search>

<section class="listagem">
<ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
  <a [routerLink]="['details', pokemon.status.id]" routerLinkActive="router-link-active"  class="pokemon" *ngIf="pokemon.status">
     <!-- o ngIf serve para criar uma condição de verificação para não precisar ficar colocando
    ? pelo código, mas por via das dúvidas, vou deixar os dois registrados ^^ -->
    <section class="pokemon_status" >
      <h2>
        {{pokemon.name}}
      </h2>
      <ul>
        <!-- o ponto de ? server para adicionar uma verificação para evitar que o navegador reconheça
        o valor da api como undefined-->
        <li *ngFor = "let value of pokemon?.status?.types">{{value.type.name}}</li>
      </ul>
    </section>

    <section class="pokemon__image">
      <!--pokemon.status.sprites.versions['generation-iii']['firered-leafgreen'].front_default-->
      <img [src] ="pokemon.status.sprites.versions['generation-vii'].icons.front_default"
      alt="pokemon.name">

    </section>
  </a>
</ng-template>
</section>
</ng-template>

<img src="assets/error.png"
alt="Erro ao carregar mostragem dos pokemons"
width="100%"
*ngIf="apiError"
/>
