@import '../../../config-scss/rem-calc.scss';

$padding: rem-calc(20);

:host{
.listagem{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $padding 0;

  padding: $padding 0;
  .pokemon{
    position: relative;
    display: flex;
    // a função calc permite calcular valores para responsividade
    //usando do o site https://nekocalc.com/px-to-rem-converter é possível converter pixel em rem, no caso 2.5rem = 40px
    //assim é possível usar o rem ao invés de px e manter a responsividade já que a função "calc" e "rem-calc" são conflitantes
    width: calc(49% - 2.5rem);
    height: rem-calc(157 - 40);
    background: var(--branco);
    padding: $padding;
    margin-bottom: rem-calc(20);
    border-radius: rem-calc(10);
    text-decoration: none;
    color: var(--primary-color);
    //o '&' coloca automaticamente o nome da função 'pai' no contexto da palavra 'status'
    //o que chama a outra classe 'filho'
    &_status{
      h2{
        font-size: rem-calc(22);
        font-style: italic;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: rem-calc(10);
      }

      ul{
        display: flex;
        flex-direction: column;

        li{
          background: var(--cinza);
          font-size: rem-calc(10);

          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: rem-calc(100);

          width: rem-calc(60);
          margin-bottom: rem-calc(5);

        }

      }
    }

    &__image{
      position:absolute;

      display: flex;
      align-items: center;
      justify-content: center;

      height: rem-calc(90);
      width: rem-calc(120);

      right: $padding;
      bottom: $padding;

      background: url('../../../assets/bg/icons8-pokebola-100.png') no-repeat;

      img{
        width: rem-calc(180);

      }
    }
  }
}
}
